fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
pydantic[email]
python-multipart
boto3>=1.34.0
tzdata>=2024.1
backports.zoneinfo; python_version < "3.9"
